body {
  margin: 0;
  padding: 0;
  background: #0f172a;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
}

h1 {
  margin-top: 15px;
}

.score {
  margin: 10px;
  font-size: 18px;
}

canvas {
  background: #020617;
  border: 3px solid #22c55e;
  margin: 10px auto;
  display: block;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}

.row {
  display: flex;
  gap: 12px;
  margin: 6px 0;
}

.controls button {
  width: 55px;
  height: 55px;
  font-size: 22px;
  border-radius: 12px;
  border: none;
  background: #2ecc71;
  color: black;
}

#pauseBtn {
  background: #f1c40f;
}

.restart {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 10px;
  background: #e74c3c;
  color: white;
  border: none;
}
